db/
.cache/
private/
titledb.egg-info/
**/*.bak
**/*.backup
**/*.pyc
__pycache__/
**/__pycache__/
build/
dist/
.vscode-server/
.nano/
.bashrc
.cache/
.bash_history
.wget-hsts
extras/cron/titledb_cli.cron.log
extras/cron/titledb_cli.github.log
.mysql_history
**/.mysql_history
.rest-client/